<html ng-app="categoryViewApp">
    <title>Event Category</title>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
        <script>
            var categoryViewApp = angular.module("categoryViewApp", []);
            categoryViewApp.controller("categoryViewCtrl", function ($scope, $http) {
                $scope.categoryList = ["music","food","sports","charity","conference","productLaunch"];
              $scope.categoryDispList = ["Music", "Food", "Sports", "Charity", "Conference", "Product Launch"];
                $scope.openView = function(category, view) {
                  window.location = "open" + view + "View://" + category;
                }
                $scope.baseURL = "http://storage.googleapis.com/nuvents-resources/event-category-icons/";
            })
        </script>
      <style>
        button {
          border:none;
          background:none;
        }
        div h4 {
          color:#ED5857;
        }
      </style>
    </head>
    <body ng-controller="categoryViewCtrl">
      <div class="container-fluid">
        <!-- Repeat every EVEN index in array -->
        <br><br>
        <div ng-repeat="category in categoryList track by $index" ng-if="$index % 2 == 0" class="row">
          <div class="col-xs-6 col-md-6" align="center">
            <button ng-click="openView(category, 'List')"><img ng-src="{{baseURL}}{{category}}Trans.png" alt="{{category}}" height="110px"></button>
            <h4>{{categoryDispList[$index]}}</h4>
            <h6>&nbsp</h6>
          </div>
          <div class="col-xs-6 col-md-6" align="center">
            <button ng-click="openView(categoryList[$index+1], 'List')"><img ng-src="{{baseURL}}{{categoryList[$index+1]}}Trans.png" alt="{{categoryList[$index+1]}}" height="110px"></button>
            <h4>{{categoryDispList[$index+1]}}</h4>
            <h6>&nbsp</h6>
          </div>
        </div>
      </div>
    </body>
</html>